.header{
    width: 100%;
    height: 46px;
}
.logo{
    width: 9%;
    height: 39px;
    background-color:#1c1311 ;
    font-weight: bold;
    font-size: 26px;
    color: white;
    padding-left: 17px;
    padding-top: 7px;
    float: left;
}
.pulldown{
    width: 778px;
    background-color: #1c1311;
    float: left;
    height: 32px;
    padding-left: 240px;
    padding-top: 14px;
}
.para{
    color: white;
    text-decoration: none;
    padding-left: 5px;
    margin-left: 20px;
    padding-top: 5px;
}
.talk{
    background-color: #2BC568;
    height: 100%;
    width: 296px;
    float: left;
}
.talk1{
    margin-top: 12px;
    margin-left: 214px;
    background-color: #2BC568;
    border-radius: 12px;
}